<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    	<link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
          <div class="container"  >
            <div class="card" style="padding:30px" >

              <span class="login100-form-title">All Orders</span>

          </div>

            </div>

        <input class="form-control" id="myInput" type="text" placeholder="Search..">
                   <br>

                   <% if (orders.length <= 0) { %>
                           <h1>Nothing there!</h1>
                       <% } else { %>
                    <table class="table table-hover table-dark">
                      <thead>
                             <tr>
                               <th>Order Id</th>
                               <th>Buyer</th>
                               <th>Buyer Address</th>
                               <th>Order Items</th>
                             </tr>
                           </thead>
                           <tbody id="myTable">
                             <% orders.forEach(order => { %>
                             <tr>
                               <td><%= order._id %></td>
                               <td><%= order.user.email %></td>
                               <td><%= order.user.address %></td>
                               <td><% order.products.forEach(p => { %>
                                 <%= p.product.title %> (<%= p.quantity %>)
                                    <% }); %>
                                         </td>
                             </tr>
                             <% }); %>
                           </tbody>
                         </table>


             <% } %>

        </main>
      <%- include('../includes/end.ejs') %>
      <script src="/js/admin.js"></script>
      <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
        <script src="/js/main2.js"></script>
        <script src="/js/admin.js"></script>
